@import 'tailwindcss';

@layer base {
  body {
    font-family:
      'Space Grotesk',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      sans-serif;
    @apply bg-slate-50 text-slate-900;
  }

  #root {
    @apply min-h-screen;
  }
}
